@font-face {
    font-family: "Epiloge";
    src: local("Epiloge"),
     url(/public/assets/fonts/Epilogue-Regular.eot) format("opentype");
     src: local("Epiloge"),
     url(/public/assets/fonts/Epilogue-Regular.ttf) format("truetype");
     src: local("Epiloge"),
     url(/public/assets/fonts/Epilogue-Regular.woff) format("woff");
     src: local("Epiloge"),
     url(/public/assets/fonts/Epilogue-Regular.woff2) format("woff2");
     font-style: normal;
     
}

@font-face {
    font-family: "Epiloge";
    src: local("Epiloge"),
     url(/public/assets/fonts/Epilogue-Bold.eot) format("opentype");
     src: local("Epiloge"),
     url(/public/assets/fonts/Epilogue-Bold.ttf) format("truetype");
     src: local("Epiloge"),
     url(/public/assets/fonts/Epilogue-Bold.woff) format("woff");
     src: local("Epiloge"),
     url(/public/assets/fonts/Epilogue-Bold.woff2) format("woff2");
     font-weight: bold;
}

@font-face {
    font-family: "Epiloge";
    src: local("Epiloge"),
     url(/public/assets/fonts/Epilogue-Black.eot) format("opentype");
     src: local("Epiloge"),
     url(/public/assets/fonts/Epilogue-Black.ttf) format("truetype");
     src: local("Epiloge"),
     url(/public/assets/fonts/Epilogue-Black.woff) format("woff");
     src: local("Epiloge"),
     url(/public/assets/fonts/Epilogue-Black.woff2) format("woff2");
     font-weight: 900;
}

@font-face {
    font-family: "Epiloge";
    src: local("Epiloge"),
     url(/public/assets/fonts/Epilogue-Medium.eot) format("opentype");
     src: local("Epiloge"),
     url(/public/assets/fonts/Epilogue-Medium.ttf) format("truetype");
     src: local("Epiloge"),
     url(/public/assets/fonts/Epilogue-Medium.woff) format("woff");
     src: local("Epiloge"),
     url(/public/assets/fonts/Epilogue-Medium.woff2) format("woff2");
     font-weight: 700;
}

@font-face {
    font-family: "Akzidenz-grotesk";
    src: local("Akzidenz-grotesk"),
     url(/public/assets/fonts/Akzidenz-grotesk-roman.eot) format("opentype");
     src: local("Akzidenz-grotesk"),
     url(/public/assets/fonts/Akzidenz-grotesk-roman.ttf) format("truetype");
     src: local("Akzidenz-grotesk"),
     url(/public/assets/fonts/Akzidenz-grotesk-roman.woff) format("woff");
     src: local("Akzidenz-grotesk"),
     url(/public/assets/fonts/Akzidenz-grotesk-roman.woff2) format("woff2");
     font-weight: normal;
}

@font-face {
    font-family: "Akzidenz-grotesk";
    src: local("Akzidenz-grotesk"),
     url(/public/assets/fonts/Akzidenz-grotesk-black.eot) format("opentype");
     src: local("Akzidenz-grotesk"),
     url(/public/assets/fonts/Akzidenz-grotesk-black.ttf) format("truetype");
     src: local("Akzidenz"),
     url(/public/assets/fonts/Akzidenz-grotesk-black.woff) format("woff");
     src: local("Akzidenz"),
     url(/public/assets/fonts/Akzidenz-grotesk-black.woff2) format("woff2");
     font-weight: 900;
}

@font-face {
    font-family: "Akzidenz-grotesk";
    src: local("Akzidenz-grotesk"),
     url(/public/assets/fonts/Akzidenz-grotesk-bold.eot) format("opentype");
     src: local("Akzidenz-grotesk"),
     url(/public/assets/fonts/Akzidenz-grotesk-bold.ttf) format("truetype");
     src: local("Akzidenz-grotesk"),
     url(/public/assets/fonts/Akzidenz-grotesk-bold.woff) format("woff");
     src: local("Akzidenz-grotesk"),
     url(/public/assets/fonts/Akzidenz-grotesk-bold.woff2) format("woff2");
     font-weight: bold;
}

@font-face {
    font-family: "Akzidenz-grotesk";
    src: local("Akzidenz-grotesk"),
     url(/public/assets/fonts/Akzidenz-grotesk-light.eot) format("opentype");
     src: local("Akzidenz-grotesk"),
     url(/public/assets/fonts/Akzidenz-grotesk-light.ttf) format("truetype");
     src: local("Akzidenz-grotesk"),
     url(/public/assets/fonts/Akzidenz-grotesk-light.woff) format("woff");
     src: local("Akzidenz-grotesk"),
     url(/public/assets/fonts/Akzidenz-grotesk-light.woff2) format("woff2");
     font-weight: 400;
}

@font-face {
    font-family: "Geomanist";
    src: local("Geomanist"),
     url(/public/assets/fonts/Geomanist-Regular.otf) format("opentype");
     src: local("Geomanist"),
     url(/public/assets/fonts/Geomanist-Regular.ttf) format("truetype");
     src: local("Geomanist"),
     url(/public/assets/fonts/Geomanist-Regular.woff) format("woff");
     src: local("Geomanist"),
     url(/public/assets/fonts/Geomanist-Regular.woff2) format("woff2");
     font-weight: normal;
}

@font-face {
    font-family: "Regular";
    src: local("Regular"),
     url(/public/assets/fonts/Regular-Regular.eot) format("opentype");
     src: local("Regular"),
     url(/public/assets/fonts/Regular-Regular.ttf) format("truetype");
     src: local("Regular"),
     url(/public/assets/fonts/Regular-Regular.woff) format("woff");
     src: local("Regular"),
     url(/public/assets/fonts/Regular-Regular.woff2) format("woff2");
     font-weight: normal;
}

@font-face {
    font-family: "Regular";
    src: local("Regular"),
     url(/public/assets/fonts/Regular-Light.eot) format("opentype");
     src: local("Regular"),
     url(/public/assets/fonts/Regular-Light.ttf) format("truetype");
     src: local("Regular"),
     url(/public/assets/fonts/Regular-Light.woff) format("woff");
     src: local("Regular"),
     url(/public/assets/fonts/Regular-Light.woff2) format("woff2");
     font-weight: lighter;
}

@font-face {
    font-family: "Regular-Bold";
    src: local("Regular-Bold"),
     url(/public/assets/fonts/Regular-Bold.eot) format("opentype");
     src: local("Regular-Bold"),
     url(/public/assets/fonts/Regular-Bold.ttf) format("truetype");
     src: local("Regular-Bold"),
     url(/public/assets/fonts/Regular-Bold.woff) format("woff");
     src: local("Regular-Bold"),
     url(/public/assets/fonts/Regular-Bold.woff2) format("woff2");
     font-weight: bold;
}

@font-face {
    font-family: "Regular";
    src: local("Regular"),
     url(/public/assets/fonts/Regular-Medium.eot) format("opentype");
     src: local("Regular"),
     url(/public/assets/fonts/Regular-Medium.ttf) format("truetype");
     src: local("Regular"),
     url(/public/assets/fonts/Regular-Medium.woff) format("woff");
     src: local("Regular"),
     url(/public/assets/fonts/Regular-Medium.woff2) format("woff2");
     font-weight: 600;
}

@font-face {
    font-family: "SFUIDisplay-Regular";
    src: local("SFUIDisplay-Regular"),
     url(/public/assets/fonts/SFUIDisplay-Regular.eot) format("opentype");
     src: local("SFUIDisplay-Regular"),
     url(/public/assets/fonts/SFUIDisplay-Regular.ttf) format("truetype");
     src: local("SFUIDisplay-Regular"),
     url(/public/assets/fonts/SFUIDisplay-Regular.woff) format("woff");
     src: local("SFUIDisplay-Regular"),
     url(/public/assets/fonts/SFUIDisplay-Regular.woff2) format("woff2");
     font-weight: normal;
}

@font-face {
    font-family: "SFUIDisplay-Bold";
    src: local("SFUIDisplay-Bold"),
     url(/public/assets/fonts/SFUIDisplay-Bold.eot) format("opentype");
     src: local("SFUIDisplay-Bold"),
     url(/public/assets/fonts/SFUIDisplay-Bold.ttf) format("truetype");
     src: local("SFUIDisplay-Bold"),
     url(/public/assets/fonts/SFUIDisplay-Bold.woff) format("woff");
     src: local("SFUIDisplay-Bold"),
     url(/public/assets/fonts/SFUIDisplay-Bold.woff2) format("woff2");
     font-weight: bold;
}

@font-face {
    font-family: "SFUIDisplay-Light";
    src: local("SFUIDisplay-Light"),
     url(/public/assets/fonts/SFUIDisplay-Light.eot) format("opentype");
     src: local("SFUIDisplay-Light"),
     url(/public/assets/fonts/SFUIDisplay-Light.ttf) format("truetype");
     src: local("SFUIDisplay-Light"),
     url(/public/assets/fonts/SFUIDisplay-Light.woff) format("woff");
     src: local("SFUIDisplay-Light"),
     url(/public/assets/fonts/SFUIDisplay-Light.woff2) format("woff2");
     font-weight: light;
}

@font-face {
    font-family: "SFUIDisplay-Medium";
    src: local("SFUIDisplay-Medium"),
     url(/public/assets/fonts/SFUIDisplay-Medium.eot) format("opentype");
     src: local("SFUIDisplay-Medium"),
     url(/public/assets/fonts/SFUIDisplay-Medium.ttf) format("truetype");
     src: local("SFUIDisplay-Medium"),
     url(/public/assets/fonts/SFUIDisplay-Medium.woff) format("woff");
     src: local("SFUIDisplay-Medium"),
     url(/public/assets/fonts/SFUIDisplay-Medium.woff2) format("woff2");
     font-weight: 600;
}

@font-face {
    font-family: "SFUIDisplay-Black";
    src: local("SFUIDisplay-Black"),
     url(/public/assets/fonts/SFUIDisplay-Black.eot) format("opentype");
     src: local("SFUIDisplay-Black"),
     url(/public/assets/fonts/SFUIDisplay-Black.ttf) format("truetype");
     src: local("SFUIDisplay-Black"),
     url(/public/assets/fonts/SFUIDisplay-Black.woff) format("woff");
     src: local("SFUIDisplay-Black"),
     url(/public/assets/fonts/SFUIDisplay-Black.woff2) format("woff2");
     font-weight: black;
}

@font-face {
    font-family: "Domaine-Display";
    src: local("DomaineDisp-Regular"),
     url(/public/assets/fonts/DomaineDisp-Regular.eot) format("opentype");
     src: local("DomaineDisp-Regular"),
     url(/public/assets/fonts/DomaineDisp-Regular.ttf) format("truetype");
     src: local("DomaineDisp-Regular"),
     url(/public/assets/fonts/DomaineDisp-Regular.woff) format("woff");
     src: local("SDomaineDisp-Regular"),
     url(/public/assets/fonts/DomaineDisp-Regular.woff2) format("woff2");
     font-weight: normal;
}

@font-face {
    font-family: "Domaine-Display-Bold";
    src: local("Domaine-Display-Bold"),
     url(/public/assets/fonts/DomaineDispNar-Semibold.eot) format("opentype");
     src: local("Domaine-Display-Bold"),
     url(/public/assets/fonts/DomaineDispNar-Semibold.ttf) format("truetype");
     src: local("Domaine-Display-Bold"),
     url(/public/assets/fonts/DomaineDispNar-Semibold.woff) format("woff");
     src: local("Domaine-Display-Bold"),
     url(/public/assets/fonts/DomaineDispNar-Semibold.woff2) format("woff2");
     font-weight: bold;
}

@font-face {
    font-family: "Apercu-Light";
    src: local("Apercu-Light"),
     url(/public/assets/fonts/ApercuPro-Light.eot) format("opentype");
     src: local("Apercu-Light"),
     url(/public/assets/fonts/ApercuPro-Light.ttf) format("truetype");
     src: local("Apercu-Light"),
     url(/public/assets/fonts/ApercuPro-Light.woff) format("woff");
     src: local("Apercu-Light"),
     url(/public/assets/fonts/ApercuPro-Light.woff2) format("woff2");
     font-weight: normal;
}

@font-face {
    font-family: "Apercu-Regular";
    src: local("Apercu-Regular"),
     url(/public/assets/fonts/ApercuPro-Regular.eot) format("opentype");
     src: local("Apercu-Regular"),
     url(/public/assets/fonts/ApercuPro-Regular.ttf) format("truetype");
     src: local("Apercu-Regular"),
     url(/public/assets/fonts/ApercuPro-Regular.woff) format("woff");
     src: local("Apercu-Regular"),
     url(/public/assets/fonts/ApercuPro-Regular.woff2) format("woff2");
     font-weight: normal;
}

@font-face {
    font-family: "Apercu-Medium";
    src: local("Apercu-Medium"),
     url(/public/assets/fonts/ApercuPro-Medium.eot) format("opentype");
     src: local("Apercu-Medium"),
     url(/public/assets/fonts/ApercuPro-Medium.ttf) format("truetype");
     src: local("Apercu-Medium"),
     url(/public/assets/fonts/ApercuPro-Medium.woff) format("woff");
     src: local("Apercu-Medium"),
     url(/public/assets/fonts/ApercuPro-Medium.woff2) format("woff2");
     font-weight: normal;
}

@font-face {
    font-family: "Apercu-Bold";
    src: local("Apercu-Bold"),
     url(/public/assets/fonts/ApercuPro-Bold.eot) format("opentype");
     src: local("Apercu-Bold"),
     url(/public/assets/fonts/ApercuPro-Bold.ttf) format("truetype");
     src: local("Apercu-Bold"),
     url(/public/assets/fonts/ApercuPro-Medium.woff) format("woff");
     src: local("Apercu-Bold"),
     url(/public/assets/fonts/ApercuPro-Bold.woff2) format("woff2");
     font-weight: normal;
}

html {
    font-family: "SFUIDisplay-Regular";
    width: 100%;
    margin: auto;
}


::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(249, 249, 249); 
    width: 10px;
    margin: 5px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(39, 39, 42); 
    border-radius: 5px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(39, 39, 42); 
  }